@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
@import 'fonts.css';

@-ms-viewport {
    width: 100vw;
    min-zoom: 100%;
    zoom: 100%;
}

@viewport {
    width: 100vw;
    min-zoom: 100%;
    zoom: 100%;
}

@-ms-viewport {
    user-zoom: fixed;
    min-zoom: 100%;
}

@viewport {
    user-zoom: fixed;
    min-zoom: 100%;
}

@-ms-viewport {
    user-zoom: zoom;
    min-zoom: 100%;
    max-zoom: 200%;
}

@viewport {
    user-zoom: zoom;
    min-zoom: 100%;
    max-zoom: 200%;
}

nav,
.navbar,
.navbar-fixed-top,
.navbar-inverse {
    background-color: #00958A !important;
    border-radius: 0px !important;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}


/* Radio-Button */

.rb {
    -webkit-appearance: none;
    display: inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    background-image: -webkit-radial-gradient( hsla(176, 100%, 29.2%, 1) 0%, hsla(176, 100%, 29.2%, 1) 15%, hsla(176, 100%, 29.2%, .3) 28%, hsla(176, 100%, 29.2%, 0) 70%);
    background-repeat: no-repeat;
    -webkit-transition: background-position .15s cubic-bezier(.8, 0, 1, 1), -webkit-transform .25s cubic-bezier(.8, 0, 1, 1);
    outline: none;
}

.rb:active {
    -webkit-transform: scale(1.5);
    -webkit-transition: -webkit-transform .1s cubic-bezier(0, 0, .2, 1);
}


/* The up/down direction logic */

.rb,
.rb:active {
    background-position: 0 24px;
}

.rb:checked {
    background-position: 0 0;
}

.rb:checked~.rb,
.rb:checked~.rb:active {
    background-position: 0 -24px;
}


/*Fim-Radio-Button*/


/* Radio-Button */

.rt {
    -webkit-appearance: none;
    display: inline-block;
    margin: 10px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
    box-shadow: hsla(0, 0%, 100%, .15) 0 1px 1px, inset hsla(0, 0%, 0%, .5) 0 0 0 1px;
    background-color: hsla(0, 0%, 0%, .2);
    background-image: -webkit-radial-gradient( hsla(176, 100%, 29.2%, 1) 0%, hsla(176, 100%, 29.2%, 1) 15%, hsla(176, 100%, 29.2%, .3) 28%, hsla(176, 100%, 29.2%, 0) 70%);
    background-repeat: no-repeat;
    outline: none;
}

.rt:active {
    opacity: 0;
    -webkit-transition: opacity 1s cubic-bezier(0, .2, .7, 1);
}


/* The up/down direction logic */

.rt,
.rt:active {
    background-position: 0 24px;
}

.rt:checked {
    background-position: 0 0;
}

.rt:checked~.rb,
.rt:checked~.rb:active {
    background-position: 0 -24px;
}


/*Fim-Radio-Button*/

.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle.bs-placeholder:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover,
.open>.dropdown-toggle.btn-default:hover,
.open>.dropdown-toggle.btn-default:active,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:focus,
.btn-default.focus,
.btn-default:hover,
.btn-default:active:hover,
.btn-default,
.btn-group .bootstrap-select .open,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #464545;
    background-color: white;
    border-color: white;
}

.dropdown-menu {
    background: #fefefe;
    border-radius: 0px;
    margin: 0px;
    border: none;
}

.dropdown-menu>li>a {
    color: #464545;
    background-color: #fefefe;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active,
.dropdown-menu>li>a:active:hover {
    color: #464545;
    background-color: #eee;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden !important;
    margin: 0 !important;
    transition: all .5s;
    background-color: #2e3037;
}

label {
    font-weight: normal !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
legend,
li,
a,
span,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.btn {
    font-family: 'Roboto', sans-serif !important;
}

h1,
h2,
h3,
label,
legend,
.h1,
.h2,
.h3 {
    font-weight: 300;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
}

.carousel-text {
    font-size: 1.8rem !important;
    font-weight: 400;
}

.carousel-icon {
    font-size: 2.4rem;
    padding: 5px;
}

.h2-header {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
}

.form-multiple-right {
    padding-left: 7.5px;
}

.form-multiple-left {
    padding-right: 7.5px;
}

.has-error>.input-group>input {
    color: #e74c3c;
}

.has-warning>.input-group>input {
    color: #f39c12;
}

.has-success>.input-group>input {
    color: #00bc8c;
}

.btn,
.form-control {
    border-radius: 0px;
}

.input-group {
    border-bottom: 0px;
    transition: border-bottom .075s;
}

.input-group>.form-control:active,
.input-group>.form-control:focus {
    border-bottom: 3px solid #00958A;
}

.has-success>.input-group>.form-control:active,
.has-success>.input-group>.form-control:focus,
.has-warning>.input-group>.form-control:active,
.has-warning>.input-group>.form-control:focus,
.has-error>.input-group>.form-control:active,
.has-error>.input-group>.form-control:focus,
.input-group>.form-control:disabled {
    border-bottom: 0px;
}

.form-control-feedback {
    padding-top: 11px;
    font-size: 2.2rem;
}

.input-group-addon {
    padding: 10px 12.5px;
    background-color: #eee;
    color: #222;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border: 0px;
    transition: background-color 1s;
    transition: color .1s;
}

.input-group-addon.active {
    background-color: #00958A;
    color: #fff;
}

.btn-legend {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.btn-help {
    text-align: center;
    height: 20px;
}

.btn-icon {
    font-size: 15px;
    margin-right: 10px;
}

.btn-pos {
    text-align: center;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
}

@media screen and (max-width: 849px) {
    .btn-pos {
        margin-bottom: 15%;
    }
}

.go-down {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding-top: 3px;
    color: #003D3B;
    border: 1px solid #003D3B;
    border-radius: 200px;
    width: 41px;
    height: 41px;
    animation: bounce 1.4s ease-in-out infinite;
    animation-play-state: paused;
}

.go-down:hover {
    animation-play-state: running;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
        font-size: 2rem;
        width: 41px;
        height: 41px;
        background-color: rgba(255, 255, 255, .5);
    }
    50% {
        transform: translateY(10px);
        font-size: 1.7rem;
        width: 37px;
        height: 37px;
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        transform: translateY(0px);
        font-size: 2rem;
        width: 41px;
        background-color: rgba(255, 255, 255, .5);
    }
}

.img-carousel {
    max-width: 500px;
}

.btn-carousel {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
}

.btn-carousel-normal {
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #00958A;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
    transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
}

.btn-carousel-danger {
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #e74c3c;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
    transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
}

.btn-carousel-success {
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #00bc8c;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
    transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
}


.btn-carousel-normal:hover {
    background-color: #003D3B;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.35);
}

.btn-carousel-inverted {
    color: #00958A;
    background-color: rgba(255, 255, 255, .92);
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
    transition: box-shadow .6s ease-out, background-color .6s ease-in-out;
}

.btn-carousel-inverted:hover {
    color: #00958A;
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.35);
}

.btn-carousel:active:hover,
.btn-carousel.active:hover,
.open>.dropdown-toggle.btn-carousel:hover,
.btn-carousel:active:focus,
.btn-carousel.active:focus,
.open>.dropdown-toggle.btn-carousel:focus,
.btn-carousel:active.focus,
.btn-carousel.active.focus,
.open>.dropdown-toggle.btn-carousel.focus {
    background-color: #003D3B;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.5);
}

.carousel-inner,
.carousel,
.item,
.container,
.fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0px;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner>.item.next,
.carousel-inner>.item.active.right {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    top: 0;
}

.carousel-inner>.item.prev,
.carousel-inner>.item.active.left {
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    top: 0;
}

.carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right,
.carousel-inner>.item.active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    ;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    top: 0;
}


/*------------------------------- vertical carousel indicators ------------------------------*/

.carousel-indicators {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    right: 10px;
    left: auto;
    width: auto;
}

.carousel-indicators li {
    display: block;
    margin-bottom: 10px;
    border: 2px solid #fff;
    background: #00958A;
    opacity: .8;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
}

.carousel-indicators li.active {
    margin-bottom: 10px;
    background: #fff;
    border-color: #00958A;
    opacity: 1;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.35);
}


/*-------- Animation slider ------*/

.animated {
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.carousel-img {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.item img {
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.item1 .carousel-img img,
.item1.active .carousel-img img {
    max-height: 300px;
}

.item1.active .carousel-img img.animated {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease;
    animation-duration: 2s;
    animation-delay: 0.3s
}

.item .carousel-desc {
    color: #fff;
    text-align: center;
}

.item h2 {
    font-size: 50px;
    animation-delay: 1.5s;
    animation-duration: 1s;
}

.item p {
    animation-delay: 2.5s;
    animation-duration: 1s;
    width: 50%;
    margin: auto;
}

.item2 .carousel-img img,
.item2.active .carousel-img img {
    max-height: 300px;
}

.item2.active .carousel-img img.animated {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    animation-duration: 3s;
    animation-delay: 0.3s
}

.item2 h2,
item2.active h2 {
    visibility: hidden;
    opacity: 0;
    transition: all 5s ease;
}

.item2.active h2.animated {
    visibility: visible;
    opacity: 1;
    animation-delay: 3s;
}

.item .fill {
    padding: 0px 30px;
    display: table;
}

.item .inner-content {
    display: table-cell;
    vertical-align: middle;
}

.item3 .col-md-6 {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}

.item3.active .carousel-img img.animated {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
    animation-duration: 2s;
    animation-delay: 0.3s
}

.item3 h2,
item3.active h2 {
    visibility: hidden;
    opacity: 0;
    transition: all 5s ease;
}

.item.item3 .carousel-desc {
    text-align: left;
}

.item3.active h2.animated {
    visibility: visible;
    opacity: 1;
    animation-delay: 1.5s
}

.item3 p,
item3.active p {
    visibility: hidden;
    opacity: 0;
    transition: all 5s ease;
    width: 100%;
}

.item3.active p.animated {
    visibility: visible;
    opacity: 1;
    animation-delay: 2.5s;
}

@media(max-width:991px) {
    .item .carousel-desc,
    .item.item3 .carousel-desc {
        text-align: center;
    }
    .item .carousel-desc p {
        width: 80%;
    }
    .item3 .col-md-6 {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:768px) {
    .item .carousel-img img,
    .item.active .carousel-img img {
        max-height: 155px;
    }
    .item h2 {
        font-size: 30px;
        margin-top: 0px;
    }
    .item .carousel-desc p {
        width: 100%;
        font-size: 12px;
    }
}

@media(max-width:480px) {
    .item h2 {
        font-size: 30px;
    }
    .item .carousel-desc p {
        width: 100%;
    }
}

.btn-slider {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
}


/*switch-button*/

.cmn-toggle {
    position: absolute;
    /*margin-left: -9999px;*/
    visibility: hidden;
}

.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

input.cmn-toggle-round+label {
    padding: 0px;
    width: 40px;
    height: 22px;
    background-color: #3C3C3D;
    border-radius: 20px;
}

input.cmn-toggle-round+label:before,
input.cmn-toggle-round+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.cmn-toggle-round+label:before {
    right: 1px;
    background-color: #3C3C3D;
    border-radius: 29px;
    transition: background 0.4s;
}

input.cmn-toggle-round+label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}

input.cmn-toggle-round:checked+label:before {
    background-color: #00bc8c;
}

input.cmn-toggle-round:checked+label:after {
    margin-left: 18px;
}

.switch {
    float: right;
}

.switch-label {
    font-size: 1.6rem;
}

.switch-item {
    margin-bottom: 15px;
    white-space: nowrap !important;
}


/*switch-button*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #eaeaea;
    display: block;
    transition: 0.3s;
    font-weight: 300;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #cdcdcd;
    text-decoration: none;
}

#navbar-btn {
    transition: margin-left .5s;
    margin-left: 0px;
}

#slide-nav {
    transition: margin-left .5s;
    margin-left: 0;
    width: 100%;
}

#h2-header {
    transition: margin-left .5s;
    margin-left: 0;
}

#main {
    transition: margin-left .5s;
    margin-left: 0;
    padding: 16px;
    padding-top: 10px;
    margin-top: 70px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.navbar-toggle {
    padding: 4px 10px !important;
    left: 16px !important;
    position: absolute !important;
    top: 6px !important;
    border-radius: 0 !important;
    border: none !important;
}

#nav-bg {
    width: 0;
    height: 0%;
    opacity: 0;
    z-index: -1;
    transition: opacity .5s;
}

#nav-bg.active {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    z-index: 1000;
    transition: opacity .5s;
}

.navbar-toggle {
    display: block !important;
}

.navbar-header {
    float: none!important;
}

.sidenav-menu {
    white-space: nowrap
}

.sidenav-menu>.divider {
    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: .5px;
    background-color: #fff;
    opacity: .3;
}

.sidenav-menu>.logout {
    position: absolute;
    bottom: 20px;
    left: 0px;
}

body.active {
    margin-left: calc(50% - 80px) !important;
    overflow: hidden;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent !important;
}

.icon-bar {
    width: 30px !important;
    border-radius: 0px !important;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px !important;
}

.menu-icon {
    margin-right: 7px !important;
    font-size: 22px !important;
}

.navbar-nav {
    padding-top: 16px;
}

.navbar-nav>li {
    font-size: 21px;
}

.nav-item {
    position: relative;
    z-index: 1900 !important;
}

#myChart {
    margin-bottom: 30px;
}

.modal-content {
    border-radius: 0px !important;
}

.btn-blood {
    width: 100%;
    height: 100px;
    border-radius: 0px;
    font-size: 3.55em;
}

a.btn-blood,
a.btn-blood:active,
a.btn-blood.active,
a.btn-blood:active:hover,
a.btn-blood.active:hover,
a.btn-blood:active:focus,
a.btn-blood.active:focus,
a.btn-blood:active.focus,
a.btn-blood.active.focus,
a.btn-blood.focus {
    background-color: #d62c1a;
    border-color: #cd2a19;
}

.table-responsive {
    border: 0px;
}

.block-title {
    background-color: #00958A;
}

th {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

tr.default {
    background-color: #2c2c2c;
}

td {
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 300;
    padding-left: 7.75px!important;
}


/*NA ALTERA MATHEUS*/

.h4-header {
    text-transform: uppercase;
    font-weight: 300 !important;
    text-align: center;
    font-size: 20px;
}

.modal-header {
    background-color: #00958A;
    border-bottom: 1px solid #00958A;
}

.table-itens {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em;
}

.table-itens-bpm {
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    font-size: 1.1em;
}

.btn-open-modal {
    position: fixed;
    right: 20px;
    margin-top: 3px;
    margin-right: 3px;
}

@media(min-width:998px) {
    .btn-open-modal {
        position: fixed;
        right: 38px;
        margin-top: 3px;
        margin-right: 3px;
    }
}

.logo-header {
    margin-bottom: 20px;
}

#btn-medicacoes {
    transition: right .5s;
}

.btn-help {
    margin-top: 10px;
}

.nav-pills {
    margin-top: 15px;
    margin-bottom: 0px;
}

.nav-pills>li {
    width: 33.33%;
    text-align: center;
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-tabs>li>a,
.nav-pills>li>a {
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    text-transform: uppercase;
    background-color: #00958A;
    border-radius: 0px;
}

.modal-erros .modal-header {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.modal-success .modal-header {
    background-color: #00bc8c;
    border-color: #00bc8c;
}

.modal-header {
    text-align: center;
    text-transform: uppercase;
}

.erros-list {
    font-size: 17px;
    color: #e74c3c;
    list-style: none;
    margin-left: -40px;
    text-align: center;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media(max-width:768px) {
    .modal-dialog {
        width: calc(100% - 30px);
    }
}

.modal-icon {
    font-size: 40px;
    color: #00bc8c;
}

.modal-text {
    font-size: 20px;
    padding-top: 5px;
}

.sidenav-name {
    padding-left: 15px;
    margin-top: 0px;
}

#perfil-pills {
    margin-top: 0px;
    margin-bottom: 15px;
}

.panel-heading,
.panel-default>.panel-heading {
    background-color: #00958A;
    text-transform: uppercase;
    border-radius: 0px;
}

.panel-heading {
    margin-bottom: 15px;
}

.panel-group .panel {
    border-radius: 0px;
}

.panel-group {
    margin-bottom: 0px;
}

.panel {
    margin-bottom: 21px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

.input-group-btn > .btn {
    background-color: #00958A; 
    text-transform: uppercase;
    color: #fff;
}


.modal-scrollable .modal-body {
    height: 400px;
    overflow-y: scroll;
    transition: all 1s;
}

.aditional-info {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 11px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    float: right;
    text-align: right;
}

.screenloader {
    height: 400px;
    width: 100%;
    white-space: nowrap;
    background-color: #2e3037;
    z-index: 9999900000;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    text-transform: uppercase;
    text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.screenloader-img {
    vertical-align: middle;
    width: 50%;
    display: none;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .page {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }

  .page, .screenloader, .screenloader-img {
    animation-name: fadeIn;
  }

  .page-inicial {
    animation-name: fadeIn;
    animation-delay: .40s;
  }

  .btn-input-group {
      color: white;
      background-color: #e74c3c;
  }

  .groupEnfermidade, .groupMedicamento {
    margin-bottom: 5px;
  }

  #addEnfermidade, #addMedicamento {
      margin-top: 15px;
  }