body {
  margin-top: 70px;
}

.btn-primary {
  background-color: #00958A;
}

.btn-primary:active:hover, .btn-primary:active:focus,
.btn-primary:focus, .btn-primary.focus, .btn-primary:hover,
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #00665e;
}

.btn-secondary {
  color: #485563;
  background-color: #eee;
}

.btn-secondary:active:hover, .btn-secondary:active:focus,
.btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover
.btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
  color: #485563;
  background-color: #ccc;
}

.close, .close:hover, .close:focus {
  font-size: 1.2rem;
  opacity: 1;
  margin-right: -3px;
}

.badge .data, .close .data, .close:hover .data, .close:focus .data {
  font-weight: 800;
}

.alert-common {
  background-color: #485563;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
}

.dropdown-toggle {
  cursor: pointer;
}

.navbar-brand {
  font-size: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.msg {
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
}

.prioridade-0.tempo-1, .prioridade-0.tempo-2, .prioridade-0.tempo-3, .prioridade-1.tempo-1, .prioridade-1.tempo-2, .prioridade-1.tempo-3, .prioridade-2.tempo-1, .prioridade-2.tempo-2, .prioridade-2.tempo-3, .status-0, .status-1, .status-2, .status-3 {
  color: #485563;
  font-weight: bolder;
  -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.2);

}

.prioridade-0.tempo-1 {
  background-color: #ece5a7;
}

.prioridade-0.tempo-2 {
  background-color: #e3d77b;
}

.prioridade-0.tempo-3 {
  background-color: #d9ca4f;
}

.prioridade-1.tempo-1 {
  background-color: #f8d6a7;
}

.prioridade-1.tempo-2 {
  background-color: #f4c27a;
}

.prioridade-1.tempo-3 {
  background-color: #f0ad4e;
}

.prioridade-2.tempo-1 {
  background-color: #eca9a7;
}

.prioridade-2.tempo-2 {
  background-color: #e37e7b;
}

.prioridade-2.tempo-3 {
  background-color: #d9534f;
}

.status-0 {
  background-color: #d9534f;
}

.status-1 {
  background-color: #5bc0de;
}

.status-2 {
  background-color: #5cb85c;
}

.status-3 {
  background-color: #BBB;
}
